.fa-exclamation-circle{
    color: orange;
}
.fa-info-circle{
    color: grey
}
.fa-times-circle{
    color: red
}
.fa-check-circle{
    color: green
}
.bite-component{
    list-style:none;
}

.books{
    list-style:none;    
}

.table > tbody > tr > td {
    vertical-align: middle;
}

html,body,#map{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.hidden {
    display: none;
}

#tooltip{
    background-color:rgba(255, 255, 255, 0.8);
    border-radius: 5px;
}

#trackInfo{
    color: white;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    background-color: rgba(122, 115, 115, 0.8);
    border-color: black;
    border-radius: 5px;
    
}